# Cấu hình môi trường cho Backend Server
PORT=5000
CLIENT_URL=http://localhost:5173
JWT_SECRET=duoc_premier_league_2026_jwt_secret_key_security_ultra

# Tài khoản quản trị nội bộ
ADMIN_USER=admin
ADMIN_PASSWORD=btc2026
REFEREE_USER=thuky
REFEREE_PASSWORD=thuky2026
